@model WebUI.Models.EmailReservation

@{
    ViewBag.Title = "EmailReservation";
}

<body>
    @using (Html.BeginForm())
    {
        <br />
        <p><b>Jullie reserveringsnummer is @Html.DisplayFor(x => Model.ReservationID)</b></p><br />
        <p>Voer je email adres in om de reservering te bevestigen!</p>
        <p>@Html.TextBoxFor(x => Model.EmailAdress, new { @class = "formcontrol" })</p>
        <input class="btn btn-success" type="submit" value="Reserveer" />
    }
</body>

