
@{
    ViewBag.Title = "NoReservationFound";
}

<h2>We hebben geen reservatie met deze code kunnen vinden.</h2>
@Html.ActionLink("Klik hier om terug te gaan", "Reservation", "Reservation", null, null)

