
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<body>
    <div>
        <p>Hello world!</p>
        <p>@Html.ActionLink("See upcoming shows", "Upcoming", "UpcomingShow")</p> <br />
        <p>@Html.ActionLink("Print out reservation tickets", "Reservation", "Reservation")</p>
    </div>
</body>

