@model IEnumerable<Domain.Entities.Show>

@{
    ViewBag.Title = "OrderTickets";
}

<h2>OrderTickets</h2>

Movie name: @ViewBag.movieId </br>
@Html.ActionLink("Bestellen", "AddPopcorn", "Ticket", null, null)


