@model  WebUI.Models.SeatLayout

@{
    ViewBag.Title = "SelectSeats";
}
<body>
    <h2>SelectSeats</h2>
    @for (int i = 1; i <= Model.rowCount; i++)
    {
        foreach (var item in Model.showSeats)
        {
            if (item.RowNumber == i)
            {
                if (item.IsTaken == true)
                {
                    <i>X</i>
                }
                else if (item.IsReserved == true)
                {
                    bool noCurrentReservation = true;
                    foreach (var j in Model.tickets)
                    {
                        if (item.SeatID == j.SeatID)
                        {
                            <i>C</i>
                            noCurrentReservation = false;
                            break;
                        }
                    }
                    if (noCurrentReservation == true)
                    {
                        <i>R</i>
                    }
                }
                else
                {
                    <i>S</i>
                }
            }
        }
        <br />
    }


    @Html.ActionLink("Stoeltjes kiezen", "ChooseSeats", "SeatSelection", null, null)
</body>
