@model  IEnumerable<Domain.Entities.ShowSeat>

@{
    ViewBag.Title = "SelectSeats";
}
<body>
    <h2>SelectSeats</h2>
    @foreach (var item in Model)
    {
        
    }


    @Html.ActionLink("Stoeltjes kiezen", "ChooseSeats", "SeatSelection", null, null)
</body>
